/* 
EEF5FF
9EB8D9 
7C93C3
*/

body {
    background-color: #A25772;
}

#container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}

#gallery{
    text-align: center;
    padding: 3%;
    margin: 2%;
    justify-content: space-between;
    background-color: 	#EEF5FF;
    border: 0.5em solid #9EB8D9;
}